@media all and (max-width: 1250px){

    .container {
        padding: 0 15px;
    }

    .about-image {
        height: 350px;
    }

    .about-text {
        font-size: 20px;
    }

}

@media screen and (max-width: 1100px) {
    .timeline ol,
    .timeline ol li {
        width: auto;
    }

    .timeline ol {
        padding: 0;
        transform: none !important;
    }

    .timeline ol li {
        display: block;
        height: auto;
        background: transparent;
    }

    .timeline ol li:first-child {
        margin-top: 25px;
    }

    .timeline ol li:not(:first-child) {
        margin-left: auto;
    }

    .timeline ol li div {
        width: 90%;
        height: auto !important;
        margin: 0 auto 25px;
        font-size: 25px;
    }

    .timeline ol li div {
        position: static;
    }

    .timeline ol li:nth-child(odd) div {
        transform: none;
    }

    .timeline ol li:nth-last-child(2) div::before,
    .timeline ol li::after
    {
        display: none;
    }

    .card img {
        height: 280px;
    }

    .service-title {
        font-size: 26px;
    }

}

@media all and (max-width: 1024px) {

    .header-info-item {
        margin-left: 0;
        justify-content: center;
    }

    .header-info-item svg {
        width: 30px;
        height: 30px;
    }

    .banner-about {
        font-size: 50px;
    }

    .about-image {
        height: 300px;
    }

    .about-text {
        font-size: 18px;
    }

    .menu-list {
        padding: 0 30px;
    }

    .menu-list ul {
        padding: 0 30px;
    }

    .modal-header h2 {
        font-size: 23px;
    }

    .service-examples-item {
        width: 200px;
    }

    .service-examples-item:not(.not) {
        height: 145px;
    }

    .not {
        height: 310px;
    }
}

@media all and (max-width: 850px) {

    .header-info-item {
        width: 170px;
    }

    .banner-about {
        margin: 0 100px; /* Центр текстового контейнера */
        padding: 10px;
        width: 50%;
    }

    .marquee span {
        font-size: 40px;
    }

    .contact {
        font-size: 15px;
    }

    .card img {
        height: 230px;
    }

    .service-title {
        font-size: 23px;
    }

    .service-about div:nth-child(2) {
        font-size: 15px;
    }

    .service-block {
        padding-top: 80px;
    }
}

@media all and (max-width: 768px) {

    .banner-about {
        margin: 0 auto;
        width: 50%;
    }

    .banner-about {
        font-size: 40px;
    }

    .marquee span {
        font-size: 30px;
    }

    .header-logo {
        width: 150px;
        height: 70px;
    }

    .header-info-item:nth-child(2) {
        display: none;
    }


    .header-info-item svg {
        display: none;
    }

    .header-info-box a {
        font-size: 10px;
    }

    .menu {
        display: inline-block;
    }

/*    .header-top {
        background-image: url("../images/fon.jpg");
        background-position: center;
        background-size: cover;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 400;
    }*/

    .header-info-item {
        width: 140px;
        align-self: center;
    }

    .header-info-title {
        font-size: 12px;
    }

    .header-info-text {
        font-size: 10px;
    }

    .header-info-item svg {
        width: 30px;
        height: 30px;
    }

    .footer-logo {
        width: 100px;
        height: 60px;
    }

    .rights {
        font-size: 9px;
    }

     .header-bottom {
        display: none
    }

    .title {
        font-size: 30px;
    }

    .title span {
        font-size: 40px;
    }

    .about-image {
        height: 220px;
    }

    .about-text {
        font-size: 15px;
    }

    .card2 {
        width: 250px;
        height: 250px;
    }

    .text {
        font-size: 18px;
    }

    .btn-example {
        font-size: 16px;
        padding: 10px;
    }

    .form-element {
        margin: 0 auto;
    }

    .form {
        background-image: none;
        background-color: #e5e5e5;
    }

    .form-position {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-list ul li {
        font-size: 16px;
    }

    .contacts-blocks {
        grid-template-columns: repeat(2, 1fr);
        justify-items: start;
    }

    .grid-item {
        grid-row: 1/3;
        grid-column: 1/2;
    }

    .modal-header {
        padding: 10px;
    }

    .modal-header h2 {
        font-size: 18px;
    }

    .modal {
       padding-top: 50px;
       letter-spacing: 1px;
       line-height: 1;
    }

}

@media all and (max-width: 700px) {

    .service-examples-item {
        width: 150px;
    }

    .service-examples-item:not(.not) {
        height: 108px;
    }

    .not {
        height: 236px;
    }
}

@media all and (max-width: 650px) {

    .bar {
        height: 3px;
    }

    .banner-about {
        font-size: 35px;
    }

    .about-part {
        flex-direction: column;
    }

    .about-text {
        width: 100%;
        margin-bottom: 30px;
        font-size: 20px;
    }

    .about-text:nth-child(even) {
        margin-left: 0;
    }

    .about-text:nth-child(odd) {
        margin-right: 0;
    }

    .about-image {
        width: 80%;
        height: auto;
    }

    .about-image:nth-child(1) {
        display: none;
    }

    .card2 {
        width: 200px;
        height: 200px;
    }

    .click {
        display: block;
    }

    .overlay .text {
        top: 34%;
        font-size: 15px;
        margin-bottom: 10px;
    }

    .example-item {
        margin: 15px;
    }

    .btn-example {
        width: 150px;
        font-size: 15px;
        left: calc(50% - 75px);
    }

    .form-send {
        width: 400px;
        padding: 20px;
    }

    .form-send input, .form-send textarea {
        width: 200px;
    }

    input[type="checkbox"] {
        width: 20px;
        margin: 10px 10px 0 0;
    }

    .popup.form-send {
        left: calc(50% - 200px);
    }

    .year {
        font-size: 10px;
    }

    .menu-list ul {
        padding: 0 10px;
    }

    .menu-list ul li a {
        font-size: 12px;
    }

    .service-title {
        font-size: 20px;
    }

    .service-about div:nth-child(2) {
        font-size: 15px;
    }

    .service-examples-item {
        width: 120px;
    }

    .service-examples-item:not(.not) {
        height: 90px;
    }

    .not {
        height: 202px;
    }

    .card img {
        height: 180px;
    }

    .service-example-title {
        font-size: 15px;
    }

    .card-text p {
        font-size: 15px;
    }

    .card-text a {
        font-size: 15px;
    }

}

@media all and (max-width: 500px) {

    .header-info {
        display: none;
    }

    .banner-about {
        font-size: 30px;
    }

    .marquee span {
        font-size: 25px;
    }

    .header-contact-item {
        width: 35px;
    }

    .header-contact-item img {
        width: 100%;
    }


    .about-text {
        font-size: 18px;
    }

    .advantages-block-text {
        font-size: 15px;
    }

    .advantages-block-image {
        width: 70px;
        height: 70px;
    }

    .form-send {
        width: 300px;
    }

    .popup.form-send {
        top: 10%;
        left: calc(50% - 150px);
    }

    .form-send input, .form-send textarea {
        margin-top: 15px;
        width: 280px;
        margin-left: 0;
    }

    input[type="checkbox"] {
        width: 20px;
        margin: 10px 10px 0 0;
    }

    .timeline ol li div {
        font-size: 18px;
    }

    .content p {
        font-size: 15px;
    }

    .contacts-blocks {
        margin-left: 0;
    }

    .grid-item {
        width: 200px;
    }

    .contact-title {
        font-size: 16px;
    }

    .contact {
        font-size: 14px;
    }

    .advantages-block {
        width: 350px;
        margin: 10px 0;
    }

    .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8 {
        grid-gap: 10px;
    }

    .service-block {
        flex-direction: column;
        align-items: center;
    }

    .service-about {
        max-width: 80%;
    }

    .card {
        width: 80%;
        margin-bottom: 30px;
    }

    .card img {
        height: 250px;
    }

    #service-one .service-about, #service-three .service-about, #service-five .service-about, #service-seven .service-about {
        order:2;
    }

    #service-one .card, #service-three .card, #service-five .card, #service-seven .card {
        order:1;
    }

    #myBtn {
        padding: 10px; /* Немного отступов */
        font-size: 15px; /* Увеличить размер шрифта */
    }
}

@media all and (max-width: 425px) {

    .banner {
        height: 70vh;
    }

    .title {
        font-size: 25px;
    }

    .banner-about {
        font-size: 25px;
    }

    .form-send {
        width: 250px;
    }

    .form-send input, .form-send textarea {
        width: 220px;
    }

    input[type="checkbox"] {
        width: 20px;
        margin: 10px 10px 0 0;
    }

    .menu-list {
        padding-right: 5px;
    }

    .card img {
        height: 200px;
    }

    .service-examples-item {
        width: 100px;
    }

    .service-examples-item:not(.not) {
        height: 90px;
    }

    .not {
        height: 195px;
    }

    .parallax-window {
        min-height: 200px;
    }
}


@media all and (max-width: 375px) {

    .contacts-blocks {
        grid-template-columns: 1fr;
    }

    .menu-list {
        padding-left: 10px;
    }

    .advantages-block {
        width: 250px;
    }

    .advantages-block-text {
        font-size: 13px;
    }

    .advantages-block-image {
        width: 50px;
        height: 50px;
    }

    .service-examples-item {
        width: 80px;
    }

    .service-examples-item:not(.not) {
        height: 70px;
    }

    .not {
        height: 155px;
    }
}

