@media all and (max-width: 1250px) {

    .container {
        padding: 0 15px;
    }

    .content-left-down.yellow {
        font-size: 18px;
    }
    /*

    .inner-first .slide-image-one {
        width: 450px;
    }

    .inner-second .slide-image-two {
        width: 300px;
        height: 230px;
    }

    .inner-second .slide-image-three {
        width: 300px;
        height: 360px;
    }

    .inner-second .slide-image-four {
        width: 350px;
        height: 270px;
    }

    .inner-third .slide-image-five {
        width: 500px;
        height: 300px;
    }
    */

/*
    .content-left-down.yellow {
        font-size: 20px;
        top: 10px;
        left: 10px;
    }

    .content-left-down.white {
        bottom: 60px;
        font-size: 23px;
    }

    .content-left-down.white.bg {
        right: 125px;

    }

    .content-left-down.yellow.center {
        width: 600px;
        font-size: 20px;
    }*/

    .about-image {
        height: 350px;
    }

    .about-text {
        font-size: 20px;
    }

    .banner-about {
        font-size: 35px;
    }

}

@media screen and (max-width: 1100px) {
/*
    .inner-second .slide-image-two {
        width: 280px;
    }



    .inner-second .slide-image-four {
        width: 280px;
        height: 230px;
    }*/

    .content-left-down.yellow.center {
        font-size: 18px;
    }

    .inner-second .slide-image-three {
       margin-top: -130px;
    }

    .timeline ol,
    .timeline ol li {
        width: auto;
    }

    .timeline ol {
        padding: 0;
        transform: none !important;
    }

    .timeline ol li {
        display: block;
        height: auto;
        background: transparent;
    }

    .timeline ol li:first-child {
        margin-top: 25px;
    }

    .timeline ol li:not(:first-child) {
        margin-left: auto;
    }

    .timeline ol li div {
        width: 90%;
        height: auto !important;
        margin: 0 auto 25px;
        font-size: 25px;
    }

    .timeline ol li div {
        position: static;
    }

    .timeline ol li:nth-child(odd) div {
        transform: none;
    }

    .timeline ol li:nth-last-child(2) div::before,
    .timeline ol li::after {
        display: none;
    }

    .bg-card {
        height: 280px;
    }

    .service-title {
        font-size: 26px;
    }

}

@media all and (max-width: 1024px) {

    .header-info-item {
        margin-left: 0;
        justify-content: center;
    }

    .header-info-item svg {
        width: 30px;
        height: 30px;
    }

    .marquee span {
        font-size: 45px;
    }

    .slide-inner {
        padding: 20px 30px;
    }


    .content-left-down.yellow {
        font-size: 15px;
        position: relative;
        z-index: 3;
    }

    .content-left-top {
        width: 80%;
        font-size: 20px;
    }

    .content-left-down {
        width: 80%;
        line-height: 1.5;
        font-size: 20px;
    }

    .inner-third .slide-image-five img {
        width: 90%;
        margin: 0 auto;
    }

   /* .inner-first .slide-image-one {
        width: 400px;
        height: 300px;
    }

    .inner-second .slide-image-two {
        width: 240px;
        height: 180px;
    }

    .inner-second .slide-image-three {
        width: 240px;
        height: 280px;
    }

    .inner-second .slide-image-four {
        width: 240px;
        height: 200px;
    }

    .inner-third .slide-image-five {
        width: 350px;
        height: 200px;
    }*/



 /*   .content-left-down.white {
        bottom: 20px;
        right: 20px;
    }

    .content-left-down.white.bg {
        font-size: 20px;
    }*/

    .about-image {
        height: 300px;
    }

    .about-text {
        font-size: 18px;
    }

    .menu-list {
        padding: 0 30px;
    }

    .menu-list ul {
        padding: 0 30px;
    }

    .modal-header h2 {
        font-size: 23px;
    }

    .service-examples-item {
        width: 200px;
    }

    .service-examples-item:not(.not) {
        height: 145px;
    }

    .not {
        height: 310px;
    }
}

@media all and (max-width: 850px) {

    .header-info-item {
        width: 170px;
    }

    .marquee span {
        font-size: 40px;
    }

    .arrow-prev svg {
        width: 35px;
        height: 35px;
    }

    .arrow-next {
        width: 35px;
        height: 35px;
    }

    .slide-inner.inner-first, .slide-inner.inner-third {
        padding: 50px;
    }

    .content-left-down.yellow {
        font-size: 13px;
        margin-left: -20px;
    }

    .content-left-down.yellow.center {
        margin-top: -20px;
    }

    .content-left-down {
        font-size: 16px;
    }

    .inner-second .slide-image-three {
        margin-top: -100px;
    }

    /*.content-left-top {
        font-size: 18px;
    }

    .content-left-down {
        font-size: 18px;
    }



    .content-left-down.white {
        font-size: 18px;
        right: 30px;
        bottom: 100px;
    }



    .content-left-down.white.bg {
        font-size: 18px;
        bottom: 20px;
        right: 120px;
    }
*/
    /*.inner-first .slide-image-one {
        width: 300px;
        height: 230px;
    }

   .inner-second .slide-image-two {
        width: 200px;
        height: 150px;
    }

    .inner-second .slide-image-three {
        width: 200px;
        height: 250px;
    }

    .inner-second .slide-image-four {
        width: 220px;
        height: 150px;
    }

    .inner-third .slide-image-five {
        width: 350px;
        height: 200px;
    }
*/
    .contact {
        font-size: 15px;
    }

    .bg-card {
        height: 230px;
    }

    .service-title {
        font-size: 23px;
    }

    .service-about div:nth-child(2) {
        font-size: 15px;
    }

    .service-block {
        padding-top: 80px;
    }
}

@media all and (max-width: 768px) {

    .header .container {
        padding: 0;
    }

    .header {
        position: sticky;
        top: 0;
        z-index: 50;
        background-color: rgba(56, 7, 77, .9);
        background-position: top;
        background-size: cover;
        padding: 10px 0;
    }

/*    .slide-inner {
       !* height: 45vh;*!
        padding: 10px 30px;
        column-gap: 10px;
    }


    .content-left-down.white {
        width: 170px;
        right: 40px;
        bottom: 0;
    }

    .content-left-down.white.bg {
        font-size: 15px;
        right: 150px;
    }*/

/*    .content-left-down.yellow {
        font-size: 13px;
        z-index: 5;
        padding: 10px;
        width: 240px;
    }*/

 /*   .content-left-down.yellow.center {
        font-size: 13px;
        left: 20%;
    }
*/

    /*.inner-third .slide-image-five {
        width: 300px;
        height: 200px;
    }
*/

    .slide-inner.inner-first, .slide-inner.inner-third {
        padding: 30px;
    }

    .inner-third .slide-image-six {
        width: 70px;
    }

    .content-left-down.yellow.center {
        font-size: 15px;
        width: 80%;
        margin-left: 0;
    }


    .marquee span {
        font-size: 30px;
    }

    .header-logo {
        width: 150px;
        height: 70px;
    }

    .header-info-item:nth-child(2) {
        display: none;
    }

    .header-info-item svg {
        display: none;
    }

    .header-info-box a {
        font-size: 10px;
    }

    .menu {
        display: inline-block;
    }

    .header-info-item {
        width: 140px;
        align-self: center;
    }

    .header-info-title {
        font-size: 12px;
    }

    .header-info-text {
        font-size: 10px;
    }

    .header-info-item svg {
        width: 30px;
        height: 30px;
    }

    .footer-logo {
        width: 100px;
        height: 60px;
    }

    .rights {
        font-size: 9px;
    }

    .header-bottom {
        display: none
    }

    .title {
        font-size: 30px;
    }

    .title span {
        font-size: 40px;
    }

    .about-image {
        height: 220px;
    }

    .about-text {
        font-size: 15px;
    }

    .card2 {
        width: 250px;
        height: 250px;
    }

    .text {
        font-size: 18px;
    }

    .btn-example {
        font-size: 16px;
        padding: 10px;
    }

    .form-element {
        margin: 0 auto;
    }

    .form {
        background-image: none;
        background-color: #e5e5e5;
    }

    .form-position {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-list ul li {
        font-size: 16px;
    }

    .contacts-blocks {
        grid-template-columns: repeat(2, 1fr);
        justify-items: start;
    }

    .grid-item {
        grid-row: 1/3;
        grid-column: 1/2;
    }

    .modal-header {
        padding: 10px;
    }

    .modal-header h2 {
        font-size: 18px;
    }

    .modal {
        padding-top: 50px;
        letter-spacing: 1px;
        line-height: 1;
    }

}

@media all and (max-width: 700px) {


    .content-left-top, .content-left-down {
        font-size: 13px;
    }

    .content-left-down.yellow {
        font-size: 11px;
    }

    .content-left-down.yellow.center {
        font-size: 13px;
        padding: 10px;
    }

    .content-left-down.white {
        font-size: 16px;
    }

    .inner-second .slide-image-three {
        margin-top: -80px;
    }

    .slide-inner.inner-third {
        column-gap: 10px;
    }

    .content-left-down.white.bg {
        font-size: 13px;
        width: 70%;
        margin-right: 50px;
    }

   /* .inner-second .slide-image-two {
        width: 150px;
        height: 100px;
    }



    .inner-second .slide-image-four {
        width: 180px;
        height: 130px;
    }

    .inner-third .slide-image-five {
        width: 200px;
        height: 150px;
    }

    .inner-third .slide-image-six {
        width: 80px;
    }
*/
    .service-examples-item {
        width: 150px;
    }

    .service-examples-item:not(.not) {
        height: 108px;
    }

    .not {
        height: 236px;
    }
}

@media all and (max-width: 650px) {

    .bar {
        height: 3px;
    }

/*    .slide-inner {
        height: auto;
    }

    .content-left-top, .content-left-down {
        padding: 10px;
    }

   !* .content-left-down.yellow {
        top: 5px;
    }*!

    .content-left-down.white {
        font-size: 12px;
        width: 120px;
        right: 40px;
    }

    .content-left-down.yellow.center {
        font-size: 13px;
    }

    .content-left-down.white.bg {
        font-size: 12px;
        right: 100px;
    }*/

   /* .inner-first .slide-image-one {
        width: 230px;
        height: 180px;
    }

    .inner-second {
        column-gap: 10px;
    }

    .inner-second .slide-image-two {
        width: 120px;
        height: 80px;
    }

    .inner-second .slide-image-three {
        width: 130px;
        height: 150px;
    }

    .inner-second .slide-image-four {
        width: 150px;
        height: 100px;
        align-self: center;
    }
*/

 /*   .inner-third .slide-image-six {
        width: 60px;
    }*/

    .about-part {
        flex-direction: column;
    }

    .about-text:nth-child(2) {
        margin-bottom: 0;
    }

    .about-text {
        width: 100%;
        margin-bottom: 30px;
        font-size: 20px;
    }

    .about-text:nth-child(even) {
        margin-left: 0;
    }

    .about-text:nth-child(odd) {
        margin-right: 0;
    }

    .about-image {
        width: 80%;
        height: auto;
    }

    .about-image:nth-child(1) {
        display: none;
    }

    .card2 {
        width: 200px;
        height: 200px;
    }

    .click {
        display: block;
    }

    .overlay .text {
        top: 34%;
        font-size: 15px;
        margin-bottom: 10px;
    }

    .example-item {
        margin: 15px;
    }

    .btn-example {
        width: 150px;
        font-size: 15px;
        left: calc(50% - 75px);
    }

    .form-send {
        width: 400px;
        padding: 20px;
    }

    .form-send input, .form-send textarea {
        width: 200px;
    }

    .form-send label {
        font-size: 15px;
    }

    .form-send input {
        margin-top: 10px;
    }

    .agreement {
        font-size: 12px;
        margin-left: 10px;
    }

    input[type="checkbox"] {
        transform: scale(1);
        width: 15px;
    }

    .year {
        font-size: 10px;
    }

    .menu-list ul {
        padding: 0 10px;
    }

    .menu-list ul li a {
        font-size: 12px;
    }

    .service-title {
        font-size: 20px;
    }

    .service-about div:nth-child(2) {
        font-size: 15px;
    }

    .service-examples-item {
        width: 120px;
    }

    .service-examples-item:not(.not) {
        height: 90px;
    }

    .not {
        height: 202px;
    }

    .bg-card {
        height: 180px;
    }

    .service-example-title {
        font-size: 15px;
    }

    .card-text p {
        font-size: 15px;
    }

    .card-text a {
        font-size: 15px;
    }

    .upbtn {
        width: 35px;
        height: 35px;
    }
}

@media all and (max-width: 500px) {

 /*

    .content-left-down {
        font-size: 10px;
    }



    .content-left-down.white.bg {
        font-size: 11px;
        right: 70px;
        bottom: 20px;
    }
*/

    .slide-inner.inner-first, .slide-inner.inner-third {
        padding: 20px;
    }

     .slide-inner.inner-first, .slide-inner.inner-third {
        gap: 10px;
    }

    .slide-inner.inner-second {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 10px;
        padding: 20px;
    }

    .content-left-down {
        font-size: 11px;
    }

    .content-left-down.yellow {
        grid-column: 1/3;
        grid-row: 1/2;
        padding: 5px;
        width: 60%;
        font-size: 11px;
        margin-left: -20px;
        margin-top: -20px;
    }

    .content-left-down.yellow.center {
        font-size: 11px;
    }

    .content-left-down.white {
        grid-column: 2/3;
        grid-row: 2/3;
        padding: 5px;
    }

    .content-left-down.white.bg {
        font-size: 11px;
        padding: 5px;
    }

    .inner-second .slide-image-two img {
        display: none;
    }

    .inner-second .slide-image-three {
        grid-column: 1/2;
        grid-row: 2/3;

    }

    .inner-second .slide-image-three img {
        width: 90%;
        height: 80%;
        margin: 0 auto;
    }

    .inner-second .slide-image-four {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .inner-second .slide-image-four img {
        width: 90%;
        height: 80%;
        margin: 0 auto;
    }

    .inner-third .slide-image-five img {
        width: 135%;
        height: 135%;
    }

    .inner-third .slide-image-six {
        width: 50px;
    }



   /* .inner-first .slide-image-one {
        width: 170px;
        height: 120px;
    }

    .inner-second .slide-image-two {
        display: none;
    }



    .inner-third .slide-image-five {
        width: 160px;
        height: 140px;
    }

    .inner-third .slide-image-six {
        width: 60px;
    }*/

    .header-info {
        display: none;
    }

    .marquee span {
        font-size: 25px;
    }

    .header-contact-item {
        width: 40px;
    }

    .header-contact-item img {
        width: 100%;
    }

    .about-text {
        font-size: 18px;
    }

    .advantages-block-text {
        font-size: 15px;
    }

    .advantages-block-image {
        width: 70px;
        height: 70px;
    }

    .form-send {
        width: 300px;
    }

    .form-send input, .form-send textarea {
        width: 280px;
        margin-left: 0;
    }

    input[type="checkbox"] {
        width: 10px;
    }

    .timeline ol li div {
        font-size: 18px;
    }

    .content p {
        font-size: 15px;
    }

    .contacts-blocks {
        margin-left: 0;
    }

    .grid-item {
        width: 200px;
    }

    .contact-title {
        font-size: 16px;
    }

    .contact {
        font-size: 14px;
    }

    .advantages-block {
        width: 350px;
        margin: 10px 0;
    }

    .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8 {
        grid-gap: 10px;
    }

    .service-block {
        flex-direction: column;
        align-items: center;
    }

    .service-about {
        max-width: 80%;
    }

    .card {
        width: 80%;
        margin-bottom: 30px;
    }

    .bg-card {
        height: 250px;
    }

    #service-one .service-about, #service-three .service-about, #service-five .service-about, #service-seven .service-about {
        order: 2;
    }

    #service-one .card, #service-three .card, #service-five .card, #service-seven .card {
        order: 1;
    }
}

@media all and (max-width: 425px) {

    .slide-inner {
        padding: 10px;
    }

    .content-left-top {
        font-size: 11px;
        padding: 10px;
    }

    .content-left-down {
        padding: 4px;
    }

    .content-left-down.white {
        font-size: 11px;
    }

    .content-left-down.yellow {
        width: 70%;
        font-size: 10px;
    }


/*
    .inner-first .slide-image-one {
        width: 120px;
        height: 90px;
    }*/


/*    .slide-inner {
        height: 30vh;
    }

    .white {
        font-size: 10px;
        bottom: 0;
        right: 30px;
    }

    , .content-left-down.yellow, .content-left-down.yellow.center {
        font-size: 10px;
    }

    .content-left-down.yellow {
        left: 5%;
    }

    .content-left-down.white.bg {
        font-size: 10px;
        right: 50px;
        bottom: 10px;
    }*/

   /*

    .inner-second .slide-image-three {
        align-self: end;
        width: 100px;
        height: 120px;
    }

    .inner-second .slide-image-four {
        width: 120px;
        height: 80px;
        margin-top: 20px;
    }

    .inner-third .slide-image-five {
        width: 130px;
        height: 100px;
    }

    .inner-third .slide-image-six {
        width: 50px;
    }*/


    .arrow-prev svg, .arrow-next {
        width: 20px;
        height: 20px;
    }

    .arrow-prev, .arrow-next {
        top: calc(50% - 10px);
    }

    .title {
        font-size: 25px;
    }

    .banner-about {
        font-size: 23px;
    }

    .form-send {
        width: 250px;
    }

    .form-send input, .form-send textarea {
        width: 220px;
    }

    input[type="checkbox"] {
        width: 10px;
    }

    .menu-list {
        padding-right: 5px;
    }

    .bg-card {
        height: 200px;
    }

    .service-examples-item {
        width: 100px;
    }

    .service-examples-item:not(.not) {
        height: 90px;
    }

    .not {
        height: 195px;
    }

    .parallax-window {
        min-height: 200px;
    }
}


@media all and (max-width: 375px) {

 /*   .content-left-down {
        font-size: 9px;
    }*/

    .slide-inner.inner-first, .slide-inner.second, .slide-inner.inner-third {
        padding: 10px 20px;
    }

    .content-left-top {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .content-left-down {
        grid-column: 2/3;
        grid-row: 1/3;
    }

    .content-left-down.yellow {
        grid-column: 2/3;
        grid-row: 1/2;
        margin-left: 0;
        margin-top: 0;
        font-size: 8px;
        width: 100%;
    }

    .content-left-down.yellow.center {
        font-size: 9px;
        margin-top: 0;
    }

    .content-left-down.white.bg {
        font-size: 9px;
        margin-right: 20px;
    }

    .content-left-down.white {
        font-size: 9px;
    }

    .inner-first .slide-image-one {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .inner-second .slide-image-four {
        display: none;
    }

    .inner-second .slide-image-three {
        grid-column: 1/2;
        grid-row: 1/3;
        margin-top: 0;
    }

    .inner-second .slide-image-three img {
        height: 100%;
        width: 100%;
    }

    .inner-third .slide-image-six {
        width: 40px;
    }


    /*.inner-first .slide-image-one {
        width: 110px;
        height: 90px;
    }
*/
/*    .content-left-down.yellow.center {
        font-size: 9px;
    }

    .content-left-down.yellow {
        font-size: 9px;
        width: 250px;
    }

    .content-left-down.white {
        right: 20px;
    }

    .content-left-down.white.bg {
        font-size: 9px;
        width: 90px;
        right: 40px;
    }*/

    /*.inner-second .slide-image-three {
        height: 110px;
    }

    .inner-second .slide-image-four {
        margin-top: 30px;
    }

    .inner-third .slide-image-five {
        width: 100px;
        height: 80px;
    }

    .inner-third .slide-image-six {
        width: 40px;
    }*/

    .contacts-blocks {
        grid-template-columns: 1fr;
    }

    .menu-list {
        padding-left: 10px;
    }

    .advantages-block {
        width: 250px;
    }

    .advantages-block-text {
        font-size: 13px;
    }

    .advantages-block-image {
        width: 50px;
        height: 50px;
    }

    .service-examples-item {
        width: 80px;
    }

    .service-examples-item:not(.not) {
        height: 70px;
    }

    .not {
        height: 155px;
    }
}

@media all and (max-width: 320px) {

    /*.content-left-down.yellow {
        left: 5%;
    }*/

}

